@font-face {
  font-family: "Syne Bold";
  src: url("../fonts/static/Syne-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face{
   font-family: "Syne Medium";
  src: url("../fonts/static/Syne-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}
:root {
  --code-background-color: lightpink;
  --output-background-color: lightgray;
}

h1{
  font-family: "Syne Bold", sans-serif;
  font-size: large;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url( '../images/nnnoise.svg' );
 
  background-position: top left;
   font-family: "Syne Medium", sans-serif;
}
.breadcrumbs{
  font-size: large;
}
.li-posts-parent {
  list-style-type: none;
  
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}
.li-posts {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  padding-block-start: 0.250rem;
  padding-block-end: 0.250rem;
}

#post-content{
  display: flex;
  flex-direction: column;

  max-width: 80vw;
}

tbody {
  display: table-row-group;
}

code > *  { 
  font-family: monospace; 
  font-size: large;
}

@media screen and (min-width: 1024px) {
  #posts{
    max-width: 30vw;
  }
}
