:root {
  --code-background-color: lightpink;
  --output-background-color: lightgray;
}
* {
  font-family: -system-font, sans-serif;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  min-width: 100vw;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.li-posts-parent {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

}
.li-posts {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  
}

#post-content{
  min-width: 100vw;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;

}

tbody {
  display: table-row-group;
}
/*td > em {
  font-family: "Fira Mono", monospace;
  color: grey;
  background-color: var(--output-background-color);
  padding-block-start: 0.5ch;
  padding-block-end: 0.5ch;
  padding-inline-start: 0.5ch;
  padding-inline-end: 0.5ch;
}

td {
  width: 40ch;
  background-color: var(--code-background-color);
}
code {
  font-family: "Courier New", Courier, monospace;
  padding-block-start: 0.5ch;
  padding-block-end: 0.5ch;
  padding-inline-start: 0.5ch;
  padding-inline-end: 0.5ch;
}
*/
code > *  { 
  font-family: monospace; 
}